<!DOCTYPE html>
<html>
<head>
    <title>Acting/Film</title>
    <link rel = "stylesheet" href = "css/style_acting_film.css">
</head>
<body>
    <div class="class">
        <center>
    <h1>You chose Acting/Film as your career of interest!</h1>
    <h3> You also said that <%=@lowest_ratio_response%> was the career with the lowest female to male ratio. The correct answer was Computer Science!
    The wage gap is currently 20%, which means that (on average) women are earning only 80% of their male counterparts. You guessed that the wage gap was <%=@wage_gap_response%> %.
    Scientists approximate that it will take an average of 41 years for the wage gap to go away. Your guess was <%=@pay_parity_response%> years. </h3>

     <p>The wage gap between female and male actors is criminal. In many cases, actors will be in the same "tier", but the female wil only be paid a fraction of what her male colleague is recieving.<br> The question constantly asked, is, "What can a woman in film DO to get paid the same as my male colleague?" Here are some statistics and pointers to help you become a vital part in closing the gap.</p><br>
       <img src = "https://pmcvariety.files.wordpress.com/2015/01/women-in-film-2014-oscars.jpg?w=1000&h=563&crop=1" width=500 >
      <img src = "https://thegrio.com/wp-content/uploads/2018/03/Dora-Milaje-e1521647411203-696x392.jpg" width=500>
      <p>As the pay increases in the film industry, the pay gap between male and female widens. In 2017, the highest paid male actor was at the top of the list with 68 million dollars, while the highest paid actress was at the top with 26 million in comparison. Claudia Goldin, of Harvard University says that the lack of women's age in film plays a part in the pay gap. She found that women in their 40s or 50s aren't often cast as high paying lead roles.</p>
      <p>In some cases, when actresses negotiate higher pay, they are accused of being difficult or bossy. But DO NOT let it deter you! Women in the film industry need to stand up for their rights to recieve equal pay as their male colleagues, wether you go into acting, writing, or directing, negotiate your pay. In order to close the pay gap, it is important for women to keep speaking up. It is also important that women raise eachother up in film because sometimes female filmmakers or actresses must prove time and time again that they are deserving a bigger part, while their male counter part will not face those challenges.</p>
      <p>It is important to note that while the film industry has some of the largest pay gaps, it is not because films starring women or women behind the camera do badly. In fact they have done extremely well, adding another reason why it is unacceptable that women be paid less. Wonder Woman, released in 2017 was a tremendous success that starred female characters portrayed in a place of power. Black Panther, released in 2018, came out as one of the highest grossing films of all time, featured inspirational female characters and writers, and showed that Hollywood needs more diverse representation.</p>
      
      <h3>Check out the links below to learn more:</h3>
      <a href="https://www.indiewire.com/2018/01/hollywood-pay-gap-gender-race-1201915967/">Hollywood's Pay Gap and How to Fix it</a><br>
      <a href="https://variety.com/2018/film/news/black-panther-women-marvel-wakanda-angela-1202695899/">Why the Women of Wakanda Rule 'Black Panther'</a>
      </center>
      </div class>
      </body>
</html>
