  <!DOCTYPE html>
<html>
<head>
    <title>Computer Science</title>
    <link rel = "stylesheet" href = "css/style_computer_engineering.css">
</head>
<body>
    
    <h1>You chose Computer Science as your career of interest!</h1>
    <h3>You also said that <%=@lowest_ratio_response%> was the career with the lowest female to male ratio. The correct answer was Computer Science!
    The wage gap is currently 20%, which means that (on average) women are earning only 80% of their male counterparts. You guessed that the wage gap was <%=@wage_gap_response%> %.
    Scientists approximate that it will take an average of 41 years for the wage gap to go away. Your guess was <%=@pay_parity_response%> years. Coding and programming are two basic skills that have become the infrastructure of our daily lives. Whether we are driving, using the internet, or interacting on social media, we are using technology that had to be coded by a programmer. Therefore, it is a prominent career field that has constant job growth. Over 1.7 million computer science jobs will be added to the job market in the next several years. However, despite its rapid growth and importance, computer science is dominated by male programmers and coders. Only 25% of all coders are female, in spite of the fact that over half of the workforce is composed of women.  </h3>
  <br>
  <img src = "https://marketingweek.imgix.net/content/uploads/2017/05/12103909/Coding-body-image-.jpg?auto=compress,format,&crop=faces,entropy,edges&fit=crop&q=60&w=750&h=460" class = center height = 300 width = 200>
  
  <h3>The Coding Wage Gap </h3>
    <p class = p>Below are some common facts regarding the wage gap and other factors in the field of computer science. If any specific fact interests you, feel free to click on its link for more information.</p>
    <ul>
      <li class = p> Computer Science is a perfect field pursue because both female and male programmers earn the same (or very similar) salaries - the wage gap is very minute in computer science, and doesn't even exist in some companies like <a href = "https://www.microsoft.com/en-us/diversity/inside-microsoft/women-at-microsoft/default.aspx"> Microsoft and Intel.</a>
      <li class = p>In 1984, women made up over almost 37% of all <a href = "https://www.computerscience.org/resources/women-in-computer-science/"> computer science undergraduates. </a> Now, however, only 18% of computer science undergraduates are female. 
      </li>
      <li class = p>Diverse opinions are necessary to produce creative products - all businesses need a variety of both men and women to ensure that their output is unique to others.</li>
      <li class = p> Often, women are discouraged from pursuing computer science because it is a male-dominated field. If you're interested in learning how to code, DON'T GIVE UP! The process is worth it, and it is an extremely useful skill to have. </li>  </ul>
  <img src = "https://media.wired.com/photos/5932793ca31264584499537d/master/w_800,c_limit/1952_hopper-grace_large.jpg" class = center height = 700 width = 100>
      <p> If you're interested in learning more about female coders that have paved the way for society, look below.</p>
  
    <p class = p> <a href = "https://findingada.com/shop/a-passion-for-science-stories-of-discovery-and-invention/ada-lovelace-victorian-computing-visionary/"> Ada Lovelace </a>
      <br>
      <a href = "https://www.biography.com/people/grace-hopper-21406809"> Grace Hopper </a>
      <br>
      <a href = "https://www.britannica.com/biography/Jean-Bartik"> Jean Bartik </a>
      <br>
      <a href = "https://ethw.org/Kathleen_McNulty"> Kathleen Antonelli </a>
       <br>
      <a href = "http://www.ericabaker.com/"> Erica Baker </a>
   
    </p>
    
</body>
</html>