  <!DOCTYPE html>
<html>
<head>
    <title>Engineering</title>
    <link rel = "stylesheet" href = "css/style_engineering.css">
</head>
<body>
    <h1>You chose Engineering as your career of interest!</h1>
    
    <h3> You also said that <%=@lowest_ratio_response%> was the career with the lowest female to male ratio. The correct answer was Computer Science!
    The wage gap is currently 20%, which means that (on average) women are earning only 80% of their male counterparts. You guessed that the wage gap was <%=@wage_gap_response%> %.
    Scientists approximate that it will take an average of 41 years for the wage gap to go away. Your guess was <%=@pay_parity_response%> years.
        Engineering is a valuable career field - they are responsible for designing and implementing everything around us, whether that's architecture, technology, mechanics, traffic infrastructure, or other important foundations of society. Although engineers are so important in society, only 14% of them are women. This is extremely unfortunate and damaging to our society, because women are able to offer unique and new solutions to existing problems. There is a need for newer, more creative minds as society continues to grow and develop. If you pursue engineering, you will have the opportunity to study many fields, whether that is civil, mechanical, material, electrical, etc. Women need more representation in STEM fields, and by persisting through an engineering degree, you will be helping close any existing gaps.   </h3>
  <br>
  <img src = "http://www.wonderskool.com/uploads/1505484493_84527a3933c443468811e22b08f13305.png" class = center height = 550 width = 100>
  
  <h3>The Engineering Wage Gap </h3>
    <p class = p>Below are some common facts regarding the wage gap and other factors in the field of engineering. Feel free to click on any linked facts for more information.</p>
    <ul>
      <li class = p> Female engineers are paid 82% of what their male counterparts earn; because there is such a lack of female engineers, there is a stigma that surrounds women's abilities to succeed in the field. However, that is because from K-12 classes, boys are encouraged to study STEM subjects more than girls,   <a href = "https://www.asme.org/career-education/articles/undergraduate-students/engineering-still-needs-more-women"> which leads to boys picking more STEM oriented majors than girls. </a>
      <li class = p>The women that did persist and earned engineering degrees have gone on to do brilliant, amazing things. See below for some femal engineering role models.
      </li>
      <li class = p>Diverse opinions are necessary to produce creative products - all businesses need a variety of <a href = "https://www.asme.org/career-education/articles/undergraduate-students/engineering-still-needs-more-women"> both men and women </a> to ensure that their output is unique to others.</li>
      <li class = p> Often, women are discouraged from pursuing engineering because it is a male dominated field. If you're interested in studying how things work together to build our society, study engineering! The process is worth it, and it is an extremely beneficial career, as it is a high-paying job. Also, young girls and women that see other women majoring in STEM fields are encouraged to pursue their major of choice. Inspire those around you!
      </li>  </ul>
  <img src = "https://www.timeshighereducation.com/sites/default/files/styles/the_breaking_news_image_style/public/female-engineer-measuring-voltage-on-conductor-board.jpg?itok=z9334cTz" class = center height = 450 width = 200>
      <p> If you're interested in learning more about female engineers that have built the world around us, check out the links below.</p>
  
    <p class = p> <a href = "https://www.asme.org/career-education/articles/management-professional-practice/lillian-moller-gilbreth"> Lillian Moller Gilbreth </a>
      <br>
      <a href = "http://www.edisontechcenter.org/Clarke.html"> Edith Clarke </a>
      <br>
      <a href = "http://www.blackgirlscode.com/about-bgc.html"> Kimberly Bryant </a>
      <br>
      <a href = "http://roeblingmuseum.org/ourstory/emily-warren-roebling/"> Emily Warren Roebling </a>
    </p>
    
</body>
</html>