<!DOCTYPE html>
<html>
    <head>
        <title>Careers: The Injust Hierarchy</title>
        <link rel = "stylesheet" href = "css/style_quiz.css">
        
    </head>
    
    <body>
        <form method=POST>
            <h3>1) Choose a career you are interested in pursuing:</h3>
                <input type="radio" name="career" value="teaching/education">Teaching/Education<br>
                <input type="radio" name="career" value="acting/film">Acting/Film<br>
                <input type="radio" name="career" value="engineering">Engineering<br>
                <input type="radio" name="career" value="law">Law<br>
                <input type="radio" name="career" value="medical">Medical<br>
                <input type="radio" name="career" value="computer science">Computer Science<br>
                <input type="radio" name="career" value="politics">Politics
                
            <h3>2) Which of the following fields do you think has the lowest female to male ratio?</h3>
                <input type="radio" name="ratio" value="teaching/education">Teaching/Education<br>
                <input type="radio" name="ratio" value="acting/film">Acting/Film<br>
                <input type="radio" name="ratio" value="engineering">Engineering<br>
                <input type="radio" name="ratio" value="law">Law<br>
                <input type="radio" name="ratio" value="medical">Medical<br>
                <input type="radio" name="ratio" value="computer science">Computer Science<br>
                <input type="radio" name="ratio" value="politics">Politics
                
            <h3>3) What do you think is the current average wage gap in the US? (in percent)</h3>
                <input type="text" name="wage_gap"><br>
                
            <h3>4) How many years do you think it will take for the wage gap to close?</h3>
                <input type="radio" name="wage_gap_close" value="41">41<br>
                <input type="radio" name="wage_gap_close" value="20">20<br>
                <input type="radio" name="wage_gap_close" value="85">85<br>
                <input type="radio" name="wage_gap_close" value="0">0<br>
                
            <input type="submit" value="Click here to submit.">   
        </form>    
    </body>
</html>    
