<!DOCTYPE html>
<html>
<head>
    <title>Law</title>
    <link rel = "stylesheet" href = "css/style_law.css">
</head>
<body>
    <div class="class">
    <center>
    <h1>You chose Law as your career of interest!</h1>
    <h3>You also said that <%=@lowest_ratio_response%> was the career with the lowest female to male ratio. The correct answer was Computer Science!
    The wage gap is currently 20%, which means that (on average) women are earning only 80% of their male counterparts. You guessed that the wage gap was <%=@wage_gap_response%> %.
    Scientists approximate that it will take an average of 41 years for the wage gap to go away. Your guess was <%=@pay_parity_response%> years.  </h3>

    <p>Whether you strive to be the next RBG, to bring justice, or take on the next Al Capone case, empowerment in this field of work is extremely rewarding.<br>Though history has written law culture as a white male's place, your gender or race should not determine your place in the courtroom. With their wits and determination, women have pursued work as lawyers, judges and other legal professions. </p>
  <img src = "https://cdn-images-1.medium.com/max/1600/1*mnHLaekGkmFyKVdJMSoyJw.png" >
    <img src = "http://www.lawpracticetoday.org/wp-content/uploads/2018/02/FebCover-200x268.png" height = 351>
  <p>Although two laws have been set to set the salary of a woman equal to the salary of a man, women still earn seventy eight cents or less to each dollar a man earns. A career in the field of law is no exception. As of 2017, 64% of lawyers are men, and that needs to change. Do not let this number discourage you from entering this field of work that is in dier need of female role. </p>
  <p>In some companies where compensation is controlled, the pay gap is around six percent, but when the environment is not controlled, the gap increases to around thirty percent.</p>
    
    <h3>Fighting against unfair wages:</h3>
    <ul>
      <li>Speak up: Go for opportunities you deserve, negotiate your pay and position in your workplace</li>
      <li>Look Around: Recognize the representation in your firm (is it representing women from different backgrounds?)</li>
    <h3>Check out the links below to learn more!</h3>
    <a href ="https://mashable.com/2016/03/30/women-in-law/#MyhXFR52pPqc">Incredible Women Promoting Justice for All</a><br>
    <a href = "https://www.washingtonpost.com/news/on-leadership/wp/2014/02/18/large-law-firms-are-failing-women-lawyers/?utm_term=.a85e5dd55b1a">Women Lawyers</a>
</div class>
    </center>
</body>
</html>

