<!DOCTYPE html>
<html>
    <head>
   <link href='https://fonts.googleapis.com/css?family=Diplomata SC' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Hammersmith One' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Homenaje' rel='stylesheet'>
  <link href='https://fonts.googleapis.com/css?family=Marko One' rel='stylesheet'>
  <link rel = "stylesheet" href = "css/style_medical.css">
    </head>
      <body>
    <h1 id = "medic">You Chose the Medical Field as Your Career of Interest!</h1>
  
    <p id = "field"> You also said that <%=@lowest_ratio_response%> was the career with the lowest female to male ratio. The correct answer was Computer Science!
    The wage gap is currently 20%, which means that (on average) women are earning only 80% of their male counterparts. You guessed that the wage gap was <%=@wage_gap_response%> %.
    Scientists approximate that it will take an average of 41 years for the wage gap to go away. Your guess was <%=@pay_parity_response%> years. The medical field offers many type of jobs such as medical assisstant, therapist, and more. Just knowing that your helping someone is amazing and leaves you feeling awesome! Down below is some information about your choice of career and tips.</p>
        
        <img src = "https://image.freepik.com/free-photo/portrait-of-female-doctors-with-arms-crossed_13339-113305.jpg">
       
  
    <h2 id = "gender">The Wage Gap in the Medical Field </h2>
  
    <li id = "gap">Female doctors get paid 27.7% less then males. The largest gender gap was 37% or $134,499 in Charleston, South Carolina. Following that was Kansas City, Missouri, with a gap of 32% or $131,996. The difference in pay is not beneficial, and will continue to destruct the world's economy if people do not fight/speak up for pay equality.</li> <br>
        
        <img src = "http://lifeinsaudiarabia.net/wp-content/uploads/2015/02/963-6-differences-between-Private-and-Government-Hospitals-in-Saudi-Arabia.jpg">
  
    <li id = "gap">Many people are unaware of this gap! It's usually because people are unaffected by it, like most men, and have never been told about it. On the other hand, people who DO know about the gap in pay tend to ignore it, because it will take a significant amount of money to fix it. That is why it is important to raise awareness - if more people know about the issue and are willing to enforce change, then it will be possible to close the gap.</li>
  
    <p id = gap>The best thing to do is to take classes in negotiating about salaries. Once a year, Dr. Theresa Rohr-Kirchgraber holds a class called "Negotiating the Pay Divide" at Indiana University School of Medicine, in hopes of raising awareness about the medical field's wage gap in gender.</p>
  
    <h2 id = "gender">The Cons of Being in the Medical Field</h2>
  
    <li id = "gap">The salary is a hundred-thousand less then a man's! People excuse this by claiming that women doctors don't see as many patients as male doctors, and have other responsibilities at home (like taking care of children). None of this is true when both genders are taking care of their families equally, and inputting the same amount of work. However, this gap continues to decrease as time passes by and will surely decline if more women join the field.</li> <br>
  
    <br>
        
        <img src = "https://i.pinimg.com/236x/42/3b/73/423b73842f1818d49204cbb90fffb23b--to-study-girl-things.jpg">
  
    <p id = "gap">Just work hard and do your best! Make your way towards your first/next promotion, because you deserve it! Raise awareness about the inequality of salaries between men and women.</p>
  
  <h2 id = "gender">The Pros of Being in the Medical Field</h2>
  
  <li id = "gap">The salary is very high! Despite the difference between male doctors and female doctors, the pay is still impressive, overall. Just about $242,000 a year!</li> <br>
  
  <li id = "gap">Knowing you're saving lives makes you feel good inside. Seeing smiles and getting thank you's is great and all, but realizing that you're preventing people from getting a serious illiness is amazing! That feeling will never get old.</li> <br>
        
        <img src = "http://www.tolerosolutions.com/wp-content/uploads/2014/08/3-choices-give.jpg">
  
  <p id = "give_it">With these pros, you have almost nothing to worry about! ALMOST. The inequality between men and women is big and may take years to fix, but one simple act from you can begin to change it in extraordinary ways. Be the one that starts the change!</p>
 
      </body>
</html>