<!DOCTYPE html>
<html>
<head>
    <title>Politics</title>
    <link rel = "stylesheet" href = "css/style_politics.css">
      <link href='https://fonts.googleapis.com/css?family=Diplomata SC' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Hammersmith One' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Homenaje' rel='stylesheet'>
  <link href='https://fonts.googleapis.com/css?family=Marko One' rel='stylesheet'>
</head>
<body>
    <h1 id = "politics">You Chose Politics as Your Career of Interest!</h1>
    <h3 id="intro"> You also said that <%=@lowest_ratio_response%> was the career with the lowest female to male ratio. The correct answer was Computer Science!
    The wage gap is currently 20%, which means that (on average) women are earning only 80% of their male counterparts. You guessed that the wage gap was <%=@wage_gap_response%> %.
    Scientists approximate that it will take an average of 41 years for the wage gap to go away. Your guess was <%=@pay_parity_response%> years. </h3>
  <p id = intro>Politics is like the base of the governement. They enforce laws, help others, and more. This is a great choice though to path to it isn't the smooth. However, if you never give up, you'll get through it easily!</p>
  
  <img src = "https://cdn.americanprogress.org/wp-content/uploads/2014/03/07083752/WoCleadership.jpg">
  
  <h2 id = "gender-title">Gender Gap in Politics</h2>
    
    <li id = gap>The gap between men and women is narrow but it is relatively stable since 1980. In 2017, women only earn about 82% of what men do and it would take 47 extras days of work for a woman to earn the same amount as a man.</li> <br>
  
    <li id = gap>Roughly about four-in-ten (42%) of women say they've experienced gender discrimination at work. This leads to 77% of women and 63% of men saying this country needs to continue making changes to give men and women equality in the workplace.</li>
  
  <img src = "http://i2.cdn.turner.com/cnn/2011/images/01/25/art.fem.politocian.jpg">
  
    <p id = gap>Family caregiving responsibilities, particularly motherhood, can lead to interruptions in career paths for women and can have an impact on long-term earnings. In a 2013 survey, women were more likely than men to say they had taken breaks from their careers to care for their family. The gap isn't much but it still affects women everywhere.</p>
  
  <h2 id = gender-title>The Cons of Being a Politician</h2>
  
    <li id = gap>People might tell you that being a woman, you're too emotional for the political field. This is not true. The show Law & Order: SVU is a good example of strong females in political positions. Anything that men do, women can do just as well.</li> <br>
  
  <img src = "https://speakers.fargomoorhead.org/wp-content/uploads/2011/05/menversuswomen.jpg"> <br>
  
    <li id = gap>The wage gap exists in politics, just like almost all other careers. </li>
  
    <p id = gap>This where negotiating with your boss will come in handy! It's good to know how to do this and will totally be worth it when you get that pay raise.</p>
  
  <h2 id = gender-title>The Pros of Being a Politician</h2>
    
    <li id = gap>Worth it! Just the thought of helping others and doing what you love will make you feel warm and fuzzy inside! All the hard work you put into this career is going to make you feel like it nothing, and the having the real thing in front of you is exciting!</li> <br>
  
    <li id = gap>You can make a difference. You helping someone can change their lives for the better, which is awesome! In the end, you'll be satisfied with yourself and that's a nice feeling to have.</li> <br>
  
  <img src = "https://media.makeameme.org/created/never-give-up-p5niz5.jpg">
  
    <p id = give_it>All you need is hard work, persistence, and big goals! Ignore any negativity and move forward with the intent of making the world a better place for all men and women!</p>
    
    </body>
</html>
    