<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link href='https://fonts.googleapis.com/css?family=Diplomata SC' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Hammersmith One' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Homenaje' rel='stylesheet'>
  <link href='https://fonts.googleapis.com/css?family=Marko One' rel='stylesheet'></head>
   <link rel = "stylesheet" href = "css/style_teaching.css"> 
  <body>
  <h1 id = "teacher">You chose teaching as your career of interest!</h1>
    <h3 id = "intro"> You also said that <%=@lowest_ratio_response%> was the career with the lowest female to male ratio. The correct answer was Computer Science!
    The wage gap is currently 20%, which means that (on average) women are earning only 80% of their male counterparts. You guessed that the wage gap was <%=@wage_gap_response%>%.
    Scientists approximate that it will take an average of 41 years for the wage gap to go away. Your guess was <%=@pay_parity_response%> years. </h3>
      <p id = "intro">Teachers who teach elementary and middle school are paid $56,420 per year, and highschool teachers get $58,170 per year. The pay isn't very high, which is unfair since they shape our modern society into how it is today. They teach boys and girls the basics of math, science, history, english, and many other subjects. Without teachers, people would be uneducated and unable make good decisions for themselves and others. Teachers are extremely important to society!</p> <br> <br>
    
    <img src= "https://lifestyletodaynews.com/wp-content/uploads/2015/04/Career-in-Teaching1.jpg">
  
  <h2 id = "gender">The Gender Wage Gap in Teaching</h2>
      
      <li id = "gap">Men are paid on average 14% more than women; 90% of the public sector employers are the ones paying them.</li> <br>
    
    <picture>
  <source srcset="https://cpb-us-e1.wpmucdn.com/www.thelantern.com/dist/c/1/files/2017/12/gender-pay-gap-uzqsln.jpg" media="(max-width: 100px)">
  <source srcset="https://cpb-us-e1.wpmucdn.com/www.thelantern.com/dist/c/1/files/2017/12/gender-pay-gap-uzqsln.jpg">
  <img src="https://cpb-us-e1.wpmucdn.com/www.thelantern.com/dist/c/1/files/2017/12/gender-pay-gap-uzqsln.jpg" alt="Flowers" style= "width: 300px;">
</picture>

      
      <li id = "gap">Highschool teachers are paid more than elementary and middle school teachers. This is because women (and girls pursuing the career) are encouraged to take care of younger children, and men to teach older students. Women are usually told that they would be better with handling young students, when really it depends on the person's unique abilities and character. </li>
    
      
  <p id = "gap">The wage gap may be unfair, but there are many ways to improve and reduce it! An idea to overcome this gap is to learn how to negotiate your salary, which is not usually taught in college courses. Men and women should also teach whatever age they have the skills to teach, not relying on societal stereotypes to decide that for them.</p>
    
    <h2 id = "cons">The Cons of Being a Teacher</h2>
    
    <li id = "bad">Low payment, as mentioned before. Teachers often have to use their own money to do activity lessons and to buy the supplies they need, such as dry erase markers, scissors, etc.</li> <br>
    
    <li id = "bad">Payment between highschool, elementary, and middle school teachers is not equal. On average, highschool teachers are paid more than other teachers, because almost half of them are male. They work the same amount of time and do the same job, but women make 9% less than men.</li> <br>
    
    <picture>
  <source srcset="https://image.freepik.com/free-photo/young-asian-woman-teacher-teaching-american-kid-in-kindergarten-classroom-with-happiness-and-relaxation-education-elementary-school-learning-and-people-concept-teacher-help-school-kids-classroom_1253-1645.jpg">
  <img src="https://image.freepik.com/free-photo/young-asian-woman-teacher-teaching-american-kid-in-kindergarten-classroom-with-happiness-and-relaxation-education-elementary-school-learning-and-people-concept-teacher-help-school-kids-classroom_1253-1645.jpg" alt="Female" style= "width: 300px;">
      </picture>
    <picture>
  <source srcset="https://www.ambroseeducation.co.uk/wp-content/uploads/2017/01/teaching-2.jpg">
  <source srcset="https://www.ambroseeducation.co.uk/wp-content/uploads/2017/01/teaching-2.jpg">
  <img src="https://www.ambroseeducation.co.uk/wp-content/uploads/2017/01/teaching-2.jpg" alt="Male" style= "width: 300px;">
</picture>
    
    <p id = "bad"> The best thing to do is fight for equal pay and not let others get to you! Keep doing what you love and even the most toughest of things will be possible as long as you are determined and confident!</p>
    
    <h2 id = "pros">The Pros of Being a Teacher</h2>
    
    <li id = "good"> It is totally worth it! Just seeing a child develop is exciting to watch, and knowing you're the reason behind it will make you feel great! </li> <br>
    
    <li id = "good">It is enjoyable! Interacting with children can be fun and entertaining. Students love to find ways to make their teachers smile and laugh. Just having a good time improves their ability to learn and you'll still be doing your job.</li>
    
    <img src = "http://cf.chucklesnetwork.com/items/7/7/3/8/9/original/yo-dawg-we-heard-you-like-having-fun-so-we-put-fun-into-fun-so-y.jpg">
    
    <p id = "good-end">In the end, being a teacher is a good choice. Kids are fun, active, and will make you stand on your toes to see what they do next. Just make sure that you don't stress too much and do what you love the most. Follow your dreams!</p>
    
  </body>
</html>

 